extends ./../layout

block content
  each product in products
    ul
      li Product Name:&nbsp;
        a(href='/products/#{product.id}') #{product.name}
      li &nbsp;
        a(href='/products/#{product.id}/edit') Edit
      li &nbsp;
        form#deleteForm(method='POST', action='/products/#{product.id}')
          input(type='hidden', name='_method', value='DELETE')
          input(type='submit', value='Delete Product')
        //- a.btn(href='/products/#{product.id}') Delete
        //- form#deleteForm(action=“/products/#{product.id}?_method=DELETE", method="POST")
  a.btn(href='/products/new') New